<div id="BoardGameDetails" style="white-space: pre-line">
    <span>
        <h4>Board Game Details</h4>
        <label for="BoardGameTitle">Name</label>
        {{$ctrl.gameDeets.Name}}
        <label for="BoardGamePlayerCount">Player Count</label>
        <input type="text" id="BoardGamePlayerCount" ng-model="$ctrl.gameDeets.PlayerCount">
        <label for="BoardGamePlayTime">Play Time</label>
        <input type="text" id="BoardGamePlayTime" ng-model="$ctrl.gameDeets.PlayTime">
        <label for="BoardGameDescription">Description</label>
        <textarea id="BoardGameDescription" cols=25 rows=4 ng-model="$ctrl.gameDeets.Description"></textarea>
        <button type="button" id="BoardGameSubmit" ng-click="$ctrl.onSubmit({details: $ctrl.name})">Submit</button>
    </span>
</div>