<div id="BoardGameDetails" style="white-space: pre-line">
    <span>
        {{$ctrl.obj}}
        <h4>Board Game Details</h4>
        <label for="BoardGameTitle">Name</label>
        {{$ctrl.name}}
        <label for="BoardGamePlayerCount">Player Count</label>
        <input type="text" id="BoardGamePlayerCount" ng-model="$ctrl.playerCount">
        <label for="BoardGamePlayTime">Play Time</label>
        <input type="text" id="BoardGamePlayTime" ng-model="$ctrl.playTime">
        <label for="BoardGameDescription">Description</label>
        <textarea id="BoardGameDescription" cols=25 rows=4 ng-model="$ctrl.description"></textarea>
        <button type="button" id="BoardGameSubmit" ng-click="$ctrl.submitDetails()">Submit</button>
    </span>
</div>