table, th, td {
    border: 1px solid black;
}

body {
    background-image: url('boardgamebackground.jpg');
}

.nav {
    background: white;
}

.authState {
    /* display: inline-block; */
    float: right;
}
