<div class="container-fluid">
    <table id="gametable" title="voting">
      <tr>
        <th>Game Name</th>
        <th>First Choice</th>
        <th>Second Choice</th>
      </tr>
      <tr ng-repeat="game in $ctrl.games">
          <td align="center"><button ng-click="$ctrl.openGameDetails(game, 'old')">{{game}}</button></td>
          <td><input type="radio" 
            ng-model="$ctrl.firstChoice" 
            name="first"
            value="{{game}}"
            ng-change="$ctrl.horizontalExclusive('first')"></td>
          <td><input type="radio" 
            ng-model="$ctrl.secondChoice" 
            name="second" 
            value="{{game}}"
            ng-change="$ctrl.horizontalExclusive('second')"></td>
      </tr>
      <tr> 
        <td><label for="New Game">New Game Suggestion </label></td>
        <td colspan=2><input type="text" ng-model="$ctrl.newGameName" id="New Game">
        <button ng-click='$ctrl.newGameSubmit()' id="New Game">Add</button></td>
      </tr>
      </tr>
    </table>
    <button ng-click="$ctrl.vote()">Vote</button>
    <!-- <game-details ng-if="$ctrl.visible" name="$ctrl.activeGame" age=$ctrl.age on-submit="$ctrl.returnDetails(details)"></game-details> -->
    
  
</div>