<div id="PlayerName" ng-switch="$ctrl.mode">
    <span id="PlayerSignIn" ng-switch-when="signIn">
      <label for="Email">Email</label>
      <input type="text" id="PlayerName" ng-model="$ctrl.user.email">
      <label for="PlayerName">Password</label>
      <input type="password" id="PlayerName" ng-model="$ctrl.user.password" >
      <button ng-click="$ctrl.signIn()" id="PlayerName">Log In</button>
    </span>
    <span id="PlayerSignOut" ng-switch-when="signOut">
      <button ng-click="$ctrl.signOut()">Log Out</button>
    </span>
</div>